streamlit
pandas
pymongo
python-dotenv
plotly
reportlab
matplotlib
numpy
scikit-learn
seaborn
xgboost
imblearn
flask
flask-cors
flask-restful
flask-jwt-extended
flasgger
gunicorn
email-validator
bcrypt
itsdangerous
Jinja2
Werkzeug
click
itsdangerous
MarkupSafe
certifi
urllib3
requests
idna
chardet
six
packaging
pyparsing
python-dateutil
pytz
setuptools
wheel
twine
pytest
pytest-cov
tox
black
isort
mypy
flake8
pre-commit
bandit
safety
radon
pylint
autopep8
rope
jupyter
notebook
ipykernel
nbconvert
nbformat
ipywidgets
widgetsnbextension
jupyterlab
jupyterlab-git
jupyterlab-lsp
python-lsp-server
pyls-mypy
pyls-flake8
pyls-isort
pyls-black
pyls-rope
jupyterlab-code-formatter
jupyterlab-system-monitor
jupyterlab-topbar
jupyterlab-topbar-extension
jupyterlab-theme-solarized-dark
jupyterlab-theme-solarized-light
jupyterlab-theme-toggle
jupyterlab-drawio
jupyterlab-snippets
jupyterlab-templates
jupyterlab-variableinspector
streamlit
pandas
pymongo
python-dotenv
matplotlib
plotly
xlsxwriter
openpyxl
treamlit
pandas
pymongo
python-dotenv
matplotlib
plotly
xlsxwriter
openpyxl